<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is About page</title>
</head>

<body>

<!-- <section class="bottom-header-sub d-flex justify-content-center align-iteams-center">
<div class="container">
  <div class="sub-page">
<br>
<br>
   <h1 class="d-flex justify-content-center content mt-5">ABOUT US</h1>
</div>
  </div>
  </section> -->
  
  
  <section class="bottom-header-sub d-flex justify-content-center align-iteams-center">
<div>
<br>
<br>
   <h1 class="font-weight-bold d-flex justify-content-center content mt-5">ABOUT US</h1>
</div>


</section>


		<!-- <section class="main" id="main">
		<div class="container">
		<div class="content-sub">
		   <img alt="" src="../image/about-1.jpeg" style="width:500px">
		   <h3><span>ABOUT</span> CENTER</h3>
		   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
		    </p>
		</div>
		</div>
		
		</section> -->
		
		
	<section class="campus-demo">
  
  <div class="rowr">
  
  <div class="campus-col-demo">
  
      <img alt="" th:src="@{/image/about-1.jpeg}" style="width:500px">
  
           
  
  </div>
  
  <div class="campus-col-demo">
  
      <h3><span>ABOUT</span> CENTER</h3>
		   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor  in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
		    </p>
  
           
  
  </div>
  
  
  
  </div>
  
  
  
  </section>
  
		
		
		<section class="a-box" id="a-box">
		<div class="container">
		<div class="content-about">
		  
		     <div class="box-about">
		       <div class="box-about-title">
		         <h4>Why Choose Us?</h4>
		       </div>
		       <div class="box-about-desc">
		         <p>
		         Lorem ipsum  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor  in reprehenderit<br/>
		         exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		    Duis aute irure dolor Lorem</p>
		         
		        </div>
		     </div>
		     
		     
		     <div class="box-about">
		       <div class="box-about-title">
		         <h4>Our Solution</h4>
		       </div>
		       <div class="box-about-desc">
		         <li><a href=""><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 1</a></li>
		         <li><a href=""><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 2</a></li>
			     <li><a href=""><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 3</a></li>
			     <li><a href=""><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 4</a></li>
			     
			     
		        </div>
		     </div>
		     
		     <div class="box-about">
		       <div class="box-about-title">
		         <h4>Our Expertise</h4>
		       </div>
		       <div class="box-about-desc">
		           
		            <div class="box-expert Our-Research">
		                <span>Our Research</span>
		            </div>
		            
		            <div class="box-expert Our-Training">
		                <span>Our Training</span>
		            </div>
		            <div class="box-expert Our-Experience">
		                <span>Our Experience</span>
		            </div>
		            <div class="box-expert Our-Partners">
		                <span>Our Partners</span>
		            </div>
		        </div>
		     </div>
		  </div>
		</div>
		</section>
		
		
		<!-- <section class="our-organization">
		        <div class="container">
		     <div class="our-organization1">
		     
		         <div class="our-org">
		            <div class=org-content>
		         <h3>Our Organization</h3>
		         
		         
		         <p>
		          Lorem ipsum  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		          Duis aute irure dolor  in reprehenderit.<br/>
		         </p>
		         </div>
		         
		             <div class="about-list">
		                 <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 1</li>
		                 <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 2</li>
			             <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 3</li>
			             <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 4</li>
			     
			     
		            </div>
		        
		            <div class="learn-botton">
		             <a class="lern-button1" href="">Learn more</a>
		            </div>
		         </div>
		         
		         <div class="our-org">
		          <img alt="" src="../image/About-Org.jpeg" style="width:500px">
		          </div>
		         </div>
		        </div>
		   
		</section>  -->
		
		
		
		<section class="campus-demo">
  
        <div class="rowr">
  
  
  
  <div class="campus-col-demo">
  
                 <h3>Our Organization</h3>
		         
		         
		         <p>
		          Lorem ipsum  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		          Duis aute irure dolor  in reprehenderit.<br/>
		         </p>
  
                 <div class="about-list">
		                 <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 1</li>
		                 <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 2</li>
			             <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 3</li>
			             <li><i class="fas fa-angle-right"></i> Accordion heading test Iteam # 4</li>
			     
			     
		            </div>
		            
		            <div class="learn-botton">
		             <a class="lern-button1" href="">Learn more</a>
		            </div>
  
  </div>
  
  <div class="campus-col-demo">
  
      <img alt="" th:src="@{/image/About-Org.jpeg}" style="width:500px">
  
           
  
  </div>
  
  
  
  </div>
  
  
  
  </section>
  
		
		
<!--        ---------------------------- Our Team -------------------------------------	
 -->
 
 <section class="our-team">
 
    
       <div class="container">
       <div class="row teams">
          <div class="column">
             
                <img alt="" th:src="@{/image/business-woman1.jpeg}" style="width:100%;height:220px;">
                   <div class="team-title">
                   <h5>Sukanya</h5>
                   <span>Administrator</span>
                   </div>
             
		   
          </div>
          <div class="column">
            
	            <img alt="" th:src="@{/image/businessman1.jpeg}" style="width:100%;height:220px;">
			    <div class="team-title">
	                <h5>waspay</h5>
	                <span>Business</span>
	            </div>
	            
	            
		   
          </div>
          <div class="column">
              
	            <img alt="" th:src="@{/image/Majda-Moumni.jpeg}" style="width:100%;height:220px;">
			    <div class="team-title">
	                <h5>Beno</h5>
	                <span>Professor</span>
	            </div>
		     
          </div>
          
          <div class="column">
              
	            <img alt="" th:src="@{/image/businessman2.jpeg}" style="width:100%;height:220px;">
			    <div class="team-title">
	                <h5>Anes</h5>
	                <span>Faculty</span>
	            </div>
		        
          </div>
          </div>
       </div>
    
 </section>
 
<!-- --------Footer---------
 -->
 
 <section class="footer">
 
 <!-- <p>Founded in 2016, the Africa Business School at Mohammed VI Polytechnic University (UM6P), aims at becoming a <br>leading business school in Africa focused on research and teaching. The Business School responds to the most <br>crucial challenges facing Africa and the world in general, by being dedicated to the development of <br>future leaders of the continent, through training, research and innovation.</p>
 <div class="icons"> 
     <i class="fa fa-facebook"></i>
     <i class="fa fa-twitter"></i>
     <i class="fa fa-instagram"></i>
     <i class="fa fa-linkedin"></i>
     
     <p> Made With <i class="fa fa-heart-o"></i> by Africa Business School</p>
 </div> -->
<div class="container">
<div class="row-footer">
    
    <div class="footer-col">
   <h6>USEFUL LINKS</h6><br>
   <ul>
  <li> <a th:href="@{/}" href="#">Home</a></li><br>
  <li><a th:href="@{/network/}" href="#"> Network</a></li><br>
  <li><a href="#">About</a></li><br>
  <li><a href="#">Contact</a></li>
        
      
  
   
   </ul>
</div>
    
    
    
    
    
    
   <div class="footer-col">
   <h6>USEFUL LINKS</h6><br>
   <ul>
  <li> <a th:href="@{/}" href="#">Home</a></li><br>
  <li><a th:href="@{/network/}" href="#"> Network</a></li><br>
  <li><a href="#">About</a></li><br>
  <li><a href="#">Contact</a></li>
        
      
  
   
   </ul>
</div>

<div class="footer-col">
<h6>CONTACT US</h6><br>
 <ul>
  <li class="footer-contact">05 30 43 16 00/01</li><br>
  <li class="footer-contact">abs.info@um6p.ma</li><br>
  <li>
  </li>
  </ul>
  <div class="social-links">
    <a href="#"><i class="fa fa-facebook"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-instagram"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     </div>
     
  
   </div>
   
   </div>
   </div>


</section>






</body>


</html>