<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is Sign up page</title>
</head>

<body>




  <section class="justify-content-center">
<!-- <div>
   <h1 class="font-weight-bold content">This is Custom Login Page</h1>
</div> -->


<div id="login">
        
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-5">
                    <div id="login-box" class="col-md-12">
                        <form th:action="@{/contact}" method="post" style="max-width: 600px; margin: 0 auto;">
                            <h3 class="text-center text-col font-weight-bold">Contact Us</h3>
                            
                            <div th:if="${param.error}" class="alert alert-danger">
                            Invalid Username and Password
                            </div>
                            
                            
                            
                            <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out
                            </div>
                            
                            
                            <div th:if="${param.change}" class="alert alert-success">
                            <p th:text="${param.change}"></p>
                            </div>
                            
                            <div class="form-group row">
                                <label for="username" class="text-info col-sm-4 col-form-label">Full Name:</label>
                                </div>
                                <div class="col-sm-8">
                                <input type="text" name="username"  class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="text-info">Email:</label>
                                <input type="email" name="password"  class="form-control" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="subject" class="text-info">Subject:</label>
                                <input type="text" name="subject"  class="form-control" required>
                            </div>
                            <div class="form-group">
                                
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            
                            
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
  
    
</section>


    
    
    



</body>

</html>