<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is home page</title>
</head>

<body>

<section class="banner d-flex justify-content-center align-iteams-center">
<div>
<br>
<br>
   <h1 class="font-weight-bold d-flex justify-content-center content mt-5">Welcome to Home Page</h1>
</div>


</section>


<section class ="course">

<h1>Courses we offer</h1>

<p>lorem ipsum gduygeudguwyeg wefue</p>

<div class="rowr">

   <div class="course-col">
   
   <h3>Intermediate</h3>
   <p> Lorem  wegwefuwevew vfvf fevfue fe fh rfhve fbe fefe fefhefbefbr fb f ehf eb fber  r
   vegvu43uy3fvbfvsb evfrfehr ejrghehe fejrhguygiub3j g43uvuv34u34</p>
   
   </div>
   
   <div class="course-col">
   
   <h3>Degree</h3>
   <p> Lorem  wegwefuwevew vfvf fevfue fe fh rfhve fbe fefe fefhefbefbr fb f ehf eb fber  r
   vegvu43uy3fvbfvsb evfrfehr ejrghehe fejrhguygiub3j g43uvuv34u34</p>
   
   </div>
   
   <div class="course-col">
   
   <h3>Post Graduate</h3>
   <p> Lorem  wegwefuwevew vfvf fevfue fe fh rfhve fbe fefe fefhefbefbr fb f ehf eb fber  r
   vegvu43uy3fvbfvsb evfrfehr ejrghehe fejrhguygiub3j g43uvuv34u34</p>
   
   </div>
   
   
</div>


</section>


<!-- ----------------Campus---------
 -->

  <section class="campus">
  <h1>our Global Campus</h1>
  
  <p>Lorem ipsum tr gergu rugur wruwgrjwer wjrwegrwrwr werwegrwerjwr jrrjw</p>
  
  <div class="rowr">
  
  <div class="campus-col">
  
      <img alt="" th:src="@{/image/Abs1-img.jpeg}">
  
           <div class="layer">
  
             <h3>TECHNOPOLIS</h3>
  
            </div>
  
  </div>
  
  <div class="campus-col">
  
      <img alt="" th:src="@{/image/Abs2-img.jpeg}" src=""/>
  
           <div class="layer">
  
             <h3>BEN GUERIR</h3>
  
            </div>
  
  </div>
  
  <div class="campus-col">
  
      <img alt="" th:src="@{/image/Abs-img.jpeg}">
  
           <div class="layer">
  
             <h3>RABAT</h3>
  
            </div>
  
  </div>
  
  </div>
  
  
  
  </section>
  
  
                         <!--Our faculties -->
 
 
   <section class="facilities">
      
      <h1>Our Facilities</h1>
      <p>Lorem ipsum cfe fe fuef uef ue feuf eu febrfu rfuerfe feue</p>
   
   
        <div class="rowr">
        
        
           <div class="facility-col">
           
             <img alt="" th:src="@{/image/Abs-edu-img.jpeg}">
             <h3>Executive MBA</h3>
             
             <p>Lorem ipsum</p>
           
           </div>
           
           <div class="facility-col">
           
           
             <img alt="" th:src="@{/image/Abs-finance-img.jpeg}">
             <h3>Finance Analytics</h3>
             
             
             <p>Lorem ipsum</p>
           
           </div>
           
           
           <div class="facility-col">
           
               <img alt="" th:src="@{/image/Aba-DBA-img.png}">
             <h3>DBA</h3>
             
             <p>Lorem ipsum hdhd hdh gh dhdh dh hdh hdhdeyeyyeytetytfcn n gj  f f f fg fytrytrytrytr ry jgjhvbcbvc bc ch hc c ydrdtrdt vcbvcbvcbcfc  </p>
           
           </div>
           
        </div>
   </section>
 
 
<!-- -------------Testimonials----------
 -->
 
 <section class=testimonial>
   <h1>What our students say</h1>
   <p>Lorem ipsum fbhjegrfje je gheg jheg jhe gjheg jeh fjehgrj gerj jerg jerjgejgrfjegjfgej</p>
   
   <div class="rowr">
   
       <div class="testimonial-col">
       
         <img alt="" th:src="@{/image/Abs-name-img.jpeg}">
         
             <div>
                <p> dg d d hd fdhgfhgfdhgafd agdfhgsfdhgd a dfhgfdhg fadghfyteutwytuwyteutweu wue</p>
                <h3>Sinam</h3>
                <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star-half-o"></i>
         
             </div>
       </div>
       
       <div class="testimonial-col">
       
         <img alt="" th:src="@{/image/Abs-name4-img.jpeg}">
         
             <div>
                <p> dg d d hd fdhgfhgfdhgafd agdfhgsfdhgd a dfhgfdhg fadghfyteutwytuwyteutweu wue</p>
                <h3>Hashna</h3>
         
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star-o"></i>
         
         
             </div>
       </div>
       
       
       <div class="testimonial-col">
       
         <img alt="" th:src="@{/image/Abs-name1.jpeg}">
         
             <div>
                <p> dg d d hd fdhgfhgfdhgafd agdfhgsfdhgd a dfhgfdhg fadghfyteutwytuwyteutweu wue</p>
                <h3>Lamia</h3>
         
                  <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
             </div>
       </div>
       
   </div>
 
 
 </section>


<!-- ----------Call to action-------
 -->



<section class="cta">

<h1>Enroll for our Courses <br>Anywhere from the world</h1>


<a th:href="@{/user/contact}" href="" class="hero-btn">Contact US</a>
</section>


<!-- --------Footer---------
 -->
 
 <section class="footer">
 
 <!-- <p>Founded in 2016, the Africa Business School at Mohammed VI Polytechnic University (UM6P), aims at becoming a <br>leading business school in Africa focused on research and teaching. The Business School responds to the most <br>crucial challenges facing Africa and the world in general, by being dedicated to the development of <br>future leaders of the continent, through training, research and innovation.</p>
 <div class="icons"> 
     <i class="fa fa-facebook"></i>
     <i class="fa fa-twitter"></i>
     <i class="fa fa-instagram"></i>
     <i class="fa fa-linkedin"></i>
     
     <p> Made With <i class="fa fa-heart-o"></i> by Africa Business School</p>
 </div> -->
<div class="container">
<div class="row-footer">
    
    <div class="footer-col">
   <h6>USEFUL LINKS</h6><br>
   <ul>
  <li> <a th:href="@{/}" href="#">Home</a></li><br>
  <li><a th:href="@{/network/}" href="#"> Network</a></li><br>
  <li><a href="#">About</a></li><br>
  <li><a href="#">Contact</a></li>
        
      
  
   
   </ul>
</div>
    
    
    
    
    
    
   <div class="footer-col">
   <h6>USEFUL LINKS</h6><br>
   <ul>
  <li> <a th:href="@{/}" href="#">Home</a></li><br>
  <li><a th:href="@{/network/}" href="#"> Network</a></li><br>
  <li><a href="#">About</a></li><br>
  <li><a href="#">Contact</a></li>
        
      
  
   
   </ul>
</div>

<div class="footer-col">
<h6>CONTACT US</h6><br>
 <ul>
  <li class="footer-contact">05 30 43 16 00/01</li><br>
  <li class="footer-contact">abs.info@um6p.ma</li><br>
  <li>
  </li>
  </ul>
  <div class="social-links">
    <a href="#"><i class="fa fa-facebook"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a href="#"><i class="fa fa-instagram"></i></a>
     <a href="#"><i class="fa fa-linkedin"></i></a>
     </div>
     
  
   </div>
   
   </div>
   </div>


</section>


</body>

</html>