* {
    margin: 0;
    padding: 0;
}

* {
  box-sizing: border-box;
}
body{
	
	background: #e2e2e2 !important;
	
	
	
	
} 
	

	
	



.bg-primary{
	background: #009688 !important;
}




.event-header-sub{
	
	width:100%;
	
	background:url(../image/Abs-img.jpeg) no-repeat top center;
	background-size: cover;
	height:350px;
	background-position:center;
	margin-bottom: 50px;
	position: relative;
	color:white;
}


 @media(max-width:1200px){
	.event-header-sub{
	background:url(../image/Abs-img.jpeg) no-repeat top center;
	background-size: cover;
	height:180px;
	background-position:center;
	margin-bottom: 30px;
	position: relative;
	
	
	
	}
} 


.events-content{
	margin-top: 90px;
	margin-left: 15px;
	color: white;
	
}

@media(max-width:700px){
	.events-content{
	margin-top: 10px;
	margin-left: 10px;
	}
	
} 

/*------- Background Image-------*/

.cta{
	margin:100px auto;
	width:90%;
	height:500px;
	background-image:url(../image/Artificial_Intelligence_Conference.png);
	background-position: center;
	background-size: cover;
	border-radius: 2px;
	text-align:center;
	padding:100px 0;
	color:white;
}


.facility-col img{
	width:100%;
	height: 110%;
	border-radius: 10px;
	
}






.rowr{
	
	display:flex;
	justify-content: space-between;
	
}




@media(max-width:700px){
	.rowr{
	flex-direction: column;
	}
	
} 

@media(max-width:700px){
	.previous-rowr{
	flex-direction: column;
	}
	
} 



.logo{
	
	width: 150px;
	height: 70px;
	
}


  .descrition{
	margin:10px auto;
	width:90%;
	
	
	text-align:left;
	
	
} 

/*---------- Previous Event and Next Event -------------*/


.next-button{
	
	width:90%;
	margin:auto;
	text-align: left;
	
	
}

 .next-button-col{
	
	text-align: left;
	
} 








.next-rows{
	
	display:flex;
	justify-content: space-between;
	
}




@media(max-width:700px){
	.next-rows{
	flex-direction: column;
	}
	
} 

.greater-than{
	font-size: 15px;
}

.less-than{
	font-size: 15px;
}

/*------------- ***********----------------*/



.box-expert{
	padding:45px 0px 0px 0px;
	position:relative;
}


.box-expert1{
	padding:5px 0px 15px 0px;
	position:relative;
}



/*.Our-Research:before{
	
	content:"";
	display:block;
	height:1px;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background-color: #d5d8db;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 .5px .5px rgba(0,0,0,0.1);
	
}
*/


/* -------footer---------- */



.logo-footer{
width: 200px;
	height: 100px;	
}




.footer{
	
	margin-top: 60px;
}

.footer .container{
	
	max-width:1170px;
	margin:auto;
	
	
}

.footer-col ul{
	list-style:none;
}

.footer{
	background-color:#24262b;
	
}


.row-footer{
	display:flex;
	flex-wrap:wrap;
	
}

.footer-col{
	width:33%;
	padding: 0 25px;
	margin-bottom:40px;
	
}

.footer-col h6{
	margin-bottom:25px;
	margin-top:20px;
	font-weight:500; 
	font-size:18px;
	color:#ffffff;
	position:relative;
}

.footer-col h6::before{
	content:'';
	position:absolute;
	left:0;
	bottom:-10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}


.footer-col ul li a{
	font-size:16px;
	text-transform:capitalize;
	color:#bbbbbb;
	text-decoration: none;
	font-weight:300;
	
	transition:all 0.3s ease;
	
}



.footer-col ul li a:hover{
	color:#ffffff;
	
}

.footer-contact{
  color:#bbbbbb;
	
}

.footer-contact:hover{
	color:#ffffff;
	
}

.social-links a:hover{
	color:#ffffff;
}
.footer-col ul li .fa{
	color:#ffffff;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
	
		
}

.social-links a{
	
	display:inline-block;
	height:40px;
	width:40px;
	
	margin-right:10px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 50%;
	text-align: center;
	line-height:40px;
	color:#ffffff;
	
}

.social-links a:hover{
	color:#24262b;
	background-color:#ffffff;
}


/* -----Responsive Footer-----  */

@media(max-width:574px){
	.footer-col{
	width:100%;
	margin-bottom:40px;
	}
}

.verify-otp{
	height:80px;
	margin-top: 80px;
}

 /* .container2{
        width: 50px;
        height: 450px;
      }
      @media (max-width:574px){
        
        .container2{
          width: 100%;
          height: auto;
        }
      }  */
      
 svg{
	width: 750px;
        height: 550px;
      }
      @media (max-width:674px){
        
        svg{
          width: 600px;
          height: auto;
          margin-left: 5px;
        }
} 


